@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cream);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "DM Sans";
}

:root{
    /* Primary */
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    /* Neutral */
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
    /* Borders */
    --corners: 15px;
}

/* Container */
.container{
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
}

/* Balance Component */
.balance-box{
    background-color: var(--soft-red);
    margin-bottom: 1rem;
    height: 100px;
    border-radius: var(--corners);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 2.2rem;
}

.balance-title,
.balance-total{
    color: #fafafaed;
    margin: 0.4rem 0;
}

.balance-total{
    font-size: 2rem;
    font-weight: 700;
}

/* Spending Component */
.spending-box{
    background-color: #fafafaed;
    height: 400px;
    border-radius: var(--corners);
    padding: 1.5rem 2.2rem 2rem;
}

footer{
    margin-top: 2rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}