@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--cream);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "DM Sans";
}

:root{
    /* Primary */
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);
    /* Neutral */
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
    /* Borders */
    --corners: 15px;
}

/* Container */
.container{
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem;
}

/* Balance Component */
.balance-box{
    background-color: var(--soft-red);
    margin-bottom: 1rem;
    height: 100px;
    border-radius: var(--corners);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3.5rem 2.2rem;
}

.balance-title,
.balance-total{
    color: var(--very-pale-orange);
    margin: 0.4rem 0;
}

.balance-total{
    font-size: 2rem;
    font-weight: 700;
}

/* Spending Component */
.spending-box{
    background-color: var(--very-pale-orange);
    height: 420px;
    border-radius: var(--corners);
    padding: 1.5rem 2.2rem 2rem;
}

.spending-title{
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--dark-brown);
}

/* Graphic Component */
.graph-container{
    width: 100%;
    height: 60%;
    display: flex;
    flex-flow: row nowrap;  
}

.bar-container{
    height: 100%;
    width: 65px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    margin-right: 2px;
}

.bar-data {
    background-color: black;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.4rem 0.2rem;
    font-weight: 700;
}

.bar{
    background-color: var(--soft-red);
    width: 75%;
    margin: 0.4rem 0 0.2rem;
    border-radius: 5px;
    align-self: center;
}

.bar:hover{
    opacity: 0.7;
}

.bar-day{
    color: var(--medium-brown);
    font-size: 0.8rem;
    text-align: center;
}

/* Ruler */
.division-ruler{
    margin-top: 2rem;
    color: var(--cream);
    height: 2px;
    background-color: var(--cream);
    border: 0px solid transparent;
}

/* Month Expenses Component*/
.month-expenses-box{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: column;
}

.total-this-month__title{
    align-self: end;
    color: var(--medium-brown);
    font-size: 0.8rem;
}

.total-this-month__money{
    align-self: end;
    color: var(--dark-brown);
    font-size: 2.2rem;
    font-weight: 700;
}

.from-last-month{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    text-align: end;
    align-self: end;
    padding-bottom: 0.45rem;
}

.from-last-month__percentage{
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--dark-brown);
}

.from-last-month__title{
    font-size: 0.8rem;
    color: var(--medium-brown);
}

/* FOOTER */
footer{
    margin-top: 2rem;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}